volumes:
  jalousie:
    driver: local
    driver_opts:
      type: none
      device: /mnt/qnap_linux/data/jalousie
      o: bind

  pihole_etc_pihole:
    driver: local
    driver_opts:
      type: none
        # device: /mnt/qnap_linux/data/pihole/etc_pihole
      device: /var/opt/pihole
      o: bind

  zigbee2mqtt:
    driver: local
    driver_opts:
      type: none
      device: /mnt/qnap_linux/data/zigbee2mqtt
      o: bind

services:
  jalousie-backend:
    restart: always
    build: jalousie-backend
    hostname: pi-jalousie-backend
    volumes:
      - jalousie:/var/jalousie:nocopy
      - ./jalousie-backend/app:/app
    depends_on:
      - pihole

  jalousie-io:
    restart: always
    build: jalousie-io
    hostname: pi-jalousie-io
    cap_add:
      - SYS_RAWIO
    privileged: true
    devices:
      - /dev/mem:/dev/mem
    volumes:
      - jalousie:/var/jalousie:nocopy
      - ./jalousie-io/app:/app
    depends_on:
      - pihole

  noop:
    restart: always
    build: noop
    hostname: wyse-noop

  pihole:
    restart: always
    image: pihole/pihole:latest
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    # shm_size: '200mb'
    hostname: pi-pihole
    # dns:
    # - 192.168.6.1
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
      - "443:443/tcp"
    environment:
      TZ: 'Europe/Berlin'
      FTLCONF_dns_listeningMode: 'all'
    volumes:
      - pihole_etc_pihole:/etc/pihole

  portainer_agent:
    restart: always
    image: portainer/agent
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    hostname: qnap-portainer-agent
    ports:
      - 8009:9001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes

  watchdog:
    restart: always
    build: watchdog
    hostname: pi-jalousie-watchdog
    volumes:
      - ./watchdog/app:/app
    ports:
      - 31038:31038
    depends_on:
      - pihole

  watchtower:
    image: nickfedor/watchtower
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    hostname: jalousie-watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      WATCHTOWER_LABEL_ENABLE: 1
      WATCHTOWER_NOTIFICATIONS: shoutrrr
      WATCHTOWER_NOTIFICATION_URL: smtp://wyse.fritz.box:25?starttls=No&fromAddress=technik@heine7.de&fromName=wyse-watchtower&toAddresses=technik@heine7.de

  zigbee2mqtt:
    restart: always
    image: koenkk/zigbee2mqtt:latest
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    # build: zigbee2mqtt
    ports:
      - 1881:1881
    volumes:
      - zigbee2mqtt:/app/data
    devices:
      - /dev/ttyACM0:/dev/ttyACM0
    environment:
      - TZ=Europe/Amsterdam
