version: "3.7"

# Ports
#    25 postfix                smtp
#   993 dovecot                imap                          Freigabe in FritzBox
#  2342 photoprism             http://192.168.6.7:2342/
#  8009 portainer_agent        portainer
#  8925 hivemq-mqtt-web-client http://192.168.6.7:8925/
# 16095 uptime-kuma            http://192.168.6.7:16095/
# 26687 control-ui             http://192.168.6.7:26687/
# 31038 watchdog               http://192.168.6.7:31038/
# 45458 node-red               http://192.168.6.7:45458/
# 57699 proxy                  http://192.168.6.7:57699/
# 59154 gerbera-musik          http://192.168.6.7:59154/
# 59155 gerbera-kinder-filme   http://192.168.6.7:59155/
# 59156 gerbera-kinder-cds     http://192.168.6.7:59156/
# 59157 gerbera-fotos          http://192.168.6.7:59157/
# 59158 gerbera-filme          http://192.168.6.7:59158/
# 59159 gerbera-video          http://192.168.6.7:59159/

#  1499 unison                 unison/ rsync                 Freigabe in FritzBox
#  3873-3883 ftpd              ftp -P 3873 heine7.de


services:
  noop:
    restart: always
    build: noop
    hostname: qnap-noop

  portainer_agent:
    restart: always
    image: portainer/agent
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    hostname: qnap-portainer-agent
    ports:
      - 8009:9001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes

  watchdog:
    restart: always
    build: watchdog
    hostname: qnap-watchdog
    volumes:
      - ./watchdog/app:/app
    ports:
      - 31038:31038

  watchtower:
    image: nickfedor/watchtower
    hostname: qnap-watchtower
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      WATCHTOWER_LABEL_ENABLE: 1
      WATCHTOWER_NOTIFICATIONS: shoutrrr
      WATCHTOWER_NOTIFICATION_URL: smtp://wyse.fritz.box:25?starttls=No&fromAddress=technik@heine7.de&fromName=qnap-watchtower&toAddresses=technik@heine7.de
