#  1 getTempAussen
#  2 getTempKessel
#  3 getTempPufferOben
#  4 getTempPufferUnten
#  5 getTempWarmwasser
#  6 getTempFlamme
#  7 getBrennerStunden
#  8 getBrennerStarts
#  9 getBrennerVerbrauch
# 10 getKesselLeistung
# 11 getLambda
# 12 unit off
# 13 getStatusZirkulation
# 14 getError01
# 15 getSystemTime

# $1..$n   Rückgabewert gewandelt in Gleitkommazahl
# $R1..$Rn Rückgabewert ungewandelt (Text)
# $C1..$Cn aufgerufenes Kommando
# $E1..$En Fehlermeldung pro Kommando

# Pruefen auf Vito Fehlerzustand

if [ "$E14" != "OK" ]; then
  echo `date` " es ist ein Fehler aufgetreten: $C14:$E14" >>/var/vito/error.log
  exit 1;
fi
if [ "$E15" != "OK" ]; then
  echo `date` " es ist ein Fehler aufgetreten: $C15:$E15" >>/var/vito/error.log
  exit 1;
fi

ERROR01="$R14"
BRENNER_VERBRAUCH="$9"
SYSTEM_TIME="$R15"

/vito/checkError.sh "$ERROR01" "$BRENNER_VERBRAUCH" "$SYSTEM_TIME"

# Speichern der Trenddaten

if [ "$E1" != "OK" ]; then
  echo `date` " es ist ein Fehler aufgetreten: $C1:$E1" >>/var/vito/error.log
  exit 1;
fi
if [ "$E2" != "OK" ]; then
  echo `date` " es ist ein Fehler aufgetreten: $C2:$E2" >>/var/vito/error.log
  exit 1;
fi
if [ "$E3" != "OK" ]; then
  echo `date` " es ist ein Fehler aufgetreten: $C3:$E3" >>/var/vito/error.log
  exit 1;
fi
if [ "$E4" != "OK" ]; then
  echo `date` " es ist ein Fehler aufgetreten: $C4:$E4" >>/var/vito/error.log
  exit 1;
fi
if [ "$E5" != "OK" ]; then
  echo `date` " es ist ein Fehler aufgetreten: $C5:$E5" >>/var/vito/error.log
  exit 1;
fi
if [ "$E6" != "OK" ]; then
  echo `date` " es ist ein Fehler aufgetreten: $C6:$E6" >>/var/vito/error.log
  exit 1;
fi
if [ "$E7" != "OK" ]; then
  echo `date` " es ist ein Fehler aufgetreten: $C7:$E7" >>/var/vito/error.log
  exit 1;
fi
if [ "$E8" != "OK" ]; then
  echo `date` " es ist ein Fehler aufgetreten: $C8:$E8" >>/var/vito/error.log
  exit 1;
fi
if [ "$E9" != "OK" ]; then
  echo `date` " es ist ein Fehler aufgetreten: $C9:$E9" >>/var/vito/error.log
  exit 1;
fi
if [ "$E10" != "OK" ]; then
  echo `date` " es ist ein Fehler aufgetreten: $C10:$E10" >>/var/vito/error.log
  exit 1;
fi
if [ "$E11" != "OK" ]; then
  echo `date` " es ist ein Fehler aufgetreten: $C11:$E11" >>/var/vito/error.log
  exit 1;
fi
if [ "$E12" != "OK" ]; then
  echo `date` " es ist ein Fehler aufgetreten: $C12:$E12" >>/var/vito/error.log
  exit 1;
fi
if [ "$E13" != "OK" ]; then
  echo `date` " es ist ein Fehler aufgetreten: $C13:$E13" >>/var/vito/error.log
  exit 1;
fi

#  1 getTempAussen
#  2 getTempKessel
#  3 getTempPufferOben
#  4 getTempPufferUnten
#  5 getTempWarmwasser
#  6 getTempFlamme
#  7 getBrennerStunden
#  8 getBrennerStarts
#  9 getBrennerVerbrauch
# 10 getKesselLeistung
# 11 getLambda
# 12 unit off
# 13 getStatusZirkulation
# 14 getError01
# 15 getSystemTime

TEMP_AUSSEN="$1"
TEMP_KESSEL="$2"
TEMP_PUFFER_OBEN="$3"
TEMP_PUFFER_UNTEN="$4"
TEMP_WARMWASSER="$5"
TEMP_FLAMME="$6"
BRENNER_STUNDEN="$7"
BRENNER_STARTS="$8"
BRENNER_VERBRAUCH="$9"
KESSEL_LEISTUNG="$10"
LAMBDA="$11"
STATUS_ZIRKULATION="$13"

/opt/rrdtool/bin/rrdtool update /var/vito/vito.rrd \
  "N:$TEMP_AUSSEN:$TEMP_KESSEL:$TEMP_PUFFER_OBEN:$TEMP_PUFFER_UNTEN:$TEMP_WARMWASSER:$TEMP_FLAMME:$BRENNER_STUNDEN:$BRENNER_STARTS:$BRENNER_VERBRAUCH:$KESSEL_LEISTUNG:$LAMBDA:$STATUS_ZIRKULATION"

# Aktuelle Daten fuer andere Anwendungen zur Verfuegung stellen

echo "$TEMP_AUSSEN" > /var/vito/_tempAussen.dat
echo "$BRENNER_VERBRAUCH" > /var/vito/_brennerVerbrauch.dat

/usr/bin/mosquitto_pub -h 192.168.6.7 -t Vito/tele/temperatur/aussen -m "$TEMP_AUSSEN"
/usr/bin/mosquitto_pub -h 192.168.6.7 -t Vito/tele/kessel/verbrauch -m "$BRENNER_VERBRAUCH"
