name: docker

volumes:
  control:
    driver: local
    driver_opts:
      type: none
      device: /mnt/qnap_linux/data/control
      o: bind

services:
  casambi-mqtt:
    restart: always
    build: casambi-mqtt
    hostname: pi-control-casambi-mqtt
    stop_signal: SIGKILL
    environment:
      - CASAMBI_NETWORK_PASSWORD
      - MQTT_BROKER
      - MQTT_PORT
      - MQTT_BASE_TOPIC
    volumes:
      # - ./casambi-mqtt/casambi-mqtt.py:/usr/src/app/casambi-mqtt.py
      - /run/dbus:/run/dbus

  control-io:
    restart: always
    build: control-io
    hostname: pi-control-io
    cap_add:
      - SYS_RAWIO
    privileged: true
    devices:
      - /dev/mem:/dev/mem
    volumes:
      - ./control-io/app:/app
      - control:/var/control

  portainer-agent:
    restart: always
    image: portainer/agent
    hostname: pi-control-portainer-agent
    ports:
      - 8009:9001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
