name: docker

volumes:
  control:
    driver: local
    driver_opts:
      type: none
      device: /mnt/qnap_linux/data/control
      o: bind

  pihole_etc_pihole:
    driver: local
    driver_opts:
      type: none
        # device: /mnt/qnap_linux/data/pihole/etc_pihole
      device: /var/opt/pihole
      o: bind

services:
  control-io:
    restart: always
    build: control-io
    hostname: pi-control-io
    cap_add:
      - SYS_RAWIO
    privileged: true
    devices:
      - /dev/mem:/dev/mem
    volumes:
      - ./control-io/app:/app
      - control:/var/control

  noop:
    restart: always
    build: noop
    hostname: wyse-noop

  pihole:
    restart: always
    image: pihole/pihole:latest
    hostname: pi-control-pihole
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
      - "443:443/tcp"
    environment:
      TZ: 'Europe/Berlin'
      FTLCONF_dns_listeningMode: 'all'
    volumes:
      - pihole_etc_pihole:/etc/pihole

  portainer-agent:
    restart: always
    image: portainer/agent
    hostname: pi-control-portainer-agent
    ports:
      - 8009:9001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes

  watchtower:
    image: nickfedor/watchtower
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
    hostname: control-watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      WATCHTOWER_LABEL_ENABLE: 1
      WATCHTOWER_NOTIFICATIONS: shoutrrr
      WATCHTOWER_NOTIFICATION_URL: smtp://wyse.fritz.box:25?starttls=No&fromAddress=technik@heine7.de&fromName=wyse-watchtower&toAddresses=technik@heine7.de
